@{
    ViewBag.Title = "AppliedJobs";
}
<br />
<ul class="nav nav-tabs">
    <li role="presentation">@Html.ActionLink("Applied Jobs", "AppliedUserJobs", "JobListings")</li>
    <li role="presentation" class="active">@Html.ActionLink("Saved Jobs", "SavedUserJobs", "JobListings")</li>
</ul>
<br />
<table id="jobListings" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Languages</th>
            <th>Apply</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/scripts/pages/saveduserjobs.js")
}

